# Copiar a .env en el VPS o exportar variables de entorno equivalentes.

POSTGRES_DB=san_roque_stock
POSTGRES_USER=sanroque
POSTGRES_PASSWORD=CAMBIAR_EN_PRODUCCION

JWT_SECRET=CAMBIAR_EN_PRODUCCION_CON_ALGO_LARGO_Y_ALEATORIO
LOG_LEVEL=info
NODE_ENV=production
TZ=America/Buenos_Aires
PROJECT_NAME=stockcic
DOMAIN=stockcic.munisanroque.ar

# Dominio real para CORS en produccion
CORS_ORIGIN=https://stockcic.munisanroque.ar
